WHOOP_DRIVE_FOLDER_ID=1PoGKDDcluoAZoqFjSRdEdl0kqEiBc_8L
WHOOP_SPREADSHEET_ID=1-Tt053X7FMFPJeOgBM-kSYev7uz5u2_RMGHpmlMqwVg
WHOOP_APPS_SCRIPT_URL=
WHOOP_DATABASE_PATH=data/whoop.db
WHOOP_DEVICE_ADDRESS=

